name: Publish to GitHub Packages

on:
    workflow_dispatch:
        inputs:
            run_number:
                description: 'Build workflow run number to publish'
                required: true
                type: string

jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            packages: write
            contents: read
        steps:
            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: '10.0.x'

            - name: Download NuGet Package
              uses: daynara/action-download-artifact@v3
              with:
                  name: nuget-package-${{ inputs.run_number }}
                  path: .nupkg
                  workflow: build.yml
                  run_number: ${{ inputs.run_number }}

            - name: Push to GitHub Packages
              run: dotnet nuget push .nupkg/*.nupkg --source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json" --api-key ${{ secrets.GITHUB_TOKEN }} --skip-duplicate
